// -----------------------------------------------------------------------------
// This file contains all styles related to the link component.
// -----------------------------------------------------------------------------

.navigation {
  &__item {
    cursor: pointer;
  }

  &__link::after {
    content: "";
    display: block;
    width: 0;
    height: 0.4rem;
    background-color: $color-imperial-red;
    transition: width 0.3s ease-in;
  }

  &__link:hover::after {
    width: 100%;
  }
}
