// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// COLORS
$color-blood-red: #660708; // Primary Color
$color-imperial-red: #e5383b; // Tertiary Color

$color-white: #ffffff;
$color-cultured: #f5f3f4;

$color-rich-black: #0b090a;
$color-eerie-black: #161a1d;
