// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation of the site/application.
// -----------------------------------------------------------------------------

.navigation {
  color: $color-white;
  position: relative;

  &__background-img {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-rich-black, 0.9),
        rgba($color-eerie-black, 0.9)
      ),
      url("/img/background-img.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // // Clip image using polygon
    // clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // Adding padding to the navigation
    padding: 3rem 8rem;
    // Position Navigation
    position: absolute;
    top: 0;
    left: 0;

    .logo__text {
      font-size: 3rem;
      font-weight: 700;
      cursor: pointer;

      &-span {
        color: $color-imperial-red;
      }
    }

    .navigation__list {
      display: flex;
      gap: 3rem;
    }
  }
}
