// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Defining strong tag weight
.span--strong {
  font-weight: 900;
}

.right--margin {
  margin-right: 1.8rem;
}

.red--text {
  color: $color-imperial-red;
}

.bottom--margin-small {
  margin-bottom: 0.6rem;
}

.bottom--margin-medium {
  margin-bottom: 6rem;
}
